In [1]:
import pandas as pd
df = pd.read_csv('./done_data/new_house_merge.csv')
print(df.columns)
print(df.shape)
df.head(1)

Index(['鄉鎮市區', '土地移轉總面積平方公尺', '都市土地使用分區', '總樓層數', '主要用途', '主要建材',
       '建物移轉總面積平方公尺', '建物現況格局-房', '建物現況格局-廳', '建物現況格局-衛', '建物現況格局-隔間',
       '有無管理組織', '總價元', '車位類別', '車位移轉總面積平方公尺', '土地', '建物', '車位', '轉移樓層',
       '建物類型', 'Area', 'EightCount', 'ParkCount', 'FuneralCount', 'GasCount',
       'CrimeCount', 'PoliceCount', 'busCount', 'subwayCount', 'govCount',
       'clinicCount', 'hospitalCount', 'pharmacyCount', 'fireareaCount',
       'firewayCount', '土地面積', '總人口數', '男性人數', '女性人數', '人口密度', '每戶人數',
       '每戶成年人數', '所得收入總計', '可支配所得', '消費支出', '儲蓄', '所得總額'],
      dtype='object')
(5252, 47)

,鄉鎮市區,土地移轉總面積平方公尺,都市土地使用分區,總樓層數,主要用途,主要建材,建物移轉總面積平方公尺,建物現況格局-房,建物現況格局-廳,建物現況格局-衛,...,男性人數,女性人數,人口密度,每戶人數,每戶成年人數,所得收入總計,可支配所得,消費支出,儲蓄,所得總額
0,中正區,18.51,住,13,住家用,混凝土造,152.07,3,2,2,...,73997,81511,20442,2.83,2.39,1744835,1450563,1171917,278646,1894842

In [2]:
# 移除無法線性化的特徵

df = df.drop(['Area','鄉鎮市區','都市土地使用分區','主要用途','主要建材','建物現況格局-隔間','有無管理組織','車位類別','建物類型'], axis = 1)

df.head()

,土地移轉總面積平方公尺,總樓層數,建物移轉總面積平方公尺,建物現況格局-房,建物現況格局-廳,建物現況格局-衛,總價元,車位移轉總面積平方公尺,土地,建物,...,男性人數,女性人數,人口密度,每戶人數,每戶成年人數,所得收入總計,可支配所得,消費支出,儲蓄,所得總額
0,18.51,13,152.07,3,2,2,40000000,24.62,1,1,...,73997,81511,20442,2.83,2.39,1744835,1450563,1171917,278646,1894842
1,15.38,10,119.64,1,1,1,26300000,44.37,1,1,...,73997,81511,20442,2.83,2.39,1744835,1450563,1171917,278646,1894842
2,17.04,10,127.79,1,1,1,26150000,44.37,1,1,...,73997,81511,20442,2.83,2.39,1744835,1450563,1171917,278646,1894842
3,16.90,10,83.42,1,1,1,23920000,0.00,1,1,...,73997,81511,20442,2.83,2.39,1744835,1450563,1171917,278646,1894842
4,17.04,10,127.79,1,1,1,27150000,44.38,1,1,...,73997,81511,20442,2.83,2.39,1744835,1450563,1171917,278646,1894842

In [7]:
# 先使用z-score來進行正規化
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

scaler = preprocessing.StandardScaler().fit(df)
df_scaler = scaler.transform(df)
df = pd.DataFrame(df_scaler, columns = df.columns)
df.head()

,土地移轉總面積平方公尺,總樓層數,建物移轉總面積平方公尺,建物現況格局-房,建物現況格局-廳,建物現況格局-衛,總價元,車位移轉總面積平方公尺,土地,建物,...,男性人數,女性人數,人口密度,每戶人數,每戶成年人數,所得收入總計,可支配所得,消費支出,儲蓄,所得總額
0,-0.141137,-0.187618,-0.095284,0.875359,0.867513,0.864881,0.094125,-0.275967,-0.242034,0.0,...,-1.442382,-1.391527,1.005934,-1.73553,-2.035369,0.604897,0.783695,0.566039,0.429162,0.814185
1,-0.164097,-0.727054,-0.416484,-0.717912,-0.406942,-0.359804,-0.263362,0.416425,-0.242034,0.0,...,-1.442382,-1.391527,1.005934,-1.73553,-2.035369,0.604897,0.783695,0.566039,0.429162,0.814185
2,-0.151920,-0.727054,-0.335763,-0.717912,-0.406942,-0.359804,-0.267276,0.416425,-0.242034,0.0,...,-1.442382,-1.391527,1.005934,-1.73553,-2.035369,0.604897,0.783695,0.566039,0.429162,0.814185
3,-0.152947,-0.727054,-0.775223,-0.717912,-0.406942,-0.359804,-0.325465,-1.139089,-0.242034,0.0,...,-1.442382,-1.391527,1.005934,-1.73553,-2.035369,0.604897,0.783695,0.566039,0.429162,0.814185
4,-0.151920,-0.727054,-0.335763,-0.717912,-0.406942,-0.359804,-0.241182,0.416775,-0.242034,0.0,...,-1.442382,-1.391527,1.005934,-1.73553,-2.035369,0.604897,0.783695,0.566039,0.429162,0.814185

In [8]:
# 將x,y拆開
y_df = df['總價元']
x_df = df.drop(['總價元'], axis = 1)
x_df.head()

,土地移轉總面積平方公尺,總樓層數,建物移轉總面積平方公尺,建物現況格局-房,建物現況格局-廳,建物現況格局-衛,車位移轉總面積平方公尺,土地,建物,車位,...,男性人數,女性人數,人口密度,每戶人數,每戶成年人數,所得收入總計,可支配所得,消費支出,儲蓄,所得總額
0,-0.141137,-0.187618,-0.095284,0.875359,0.867513,0.864881,-0.275967,-0.242034,0.0,-0.034449,...,-1.442382,-1.391527,1.005934,-1.73553,-2.035369,0.604897,0.783695,0.566039,0.429162,0.814185
1,-0.164097,-0.727054,-0.416484,-0.717912,-0.406942,-0.359804,0.416425,-0.242034,0.0,-0.034449,...,-1.442382,-1.391527,1.005934,-1.73553,-2.035369,0.604897,0.783695,0.566039,0.429162,0.814185
2,-0.151920,-0.727054,-0.335763,-0.717912,-0.406942,-0.359804,0.416425,-0.242034,0.0,-0.034449,...,-1.442382,-1.391527,1.005934,-1.73553,-2.035369,0.604897,0.783695,0.566039,0.429162,0.814185
3,-0.152947,-0.727054,-0.775223,-0.717912,-0.406942,-0.359804,-1.139089,-0.242034,0.0,-1.355064,...,-1.442382,-1.391527,1.005934,-1.73553,-2.035369,0.604897,0.783695,0.566039,0.429162,0.814185
4,-0.151920,-0.727054,-0.335763,-0.717912,-0.406942,-0.359804,0.416775,-0.242034,0.0,-0.034449,...,-1.442382,-1.391527,1.005934,-1.73553,-2.035369,0.604897,0.783695,0.566039,0.429162,0.814185

In [9]:
# 利用方差先找出沒有差距的特徵，發現建物並沒有足夠變異
# 0.25是以某個值不超過0.5計算，0.5X0.5=0.25
from sklearn.feature_selection import VarianceThreshold
selector = VarianceThreshold(threshold = 0.25)
selector.fit_transform(x_df)
cols = selector.get_support(indices=True)

features_df_new = x_df.iloc[:,cols].columns
new_feature_list = features_df_new.tolist()
print(len(new_feature_list))
print(new_feature_list)

36
['土地移轉總面積平方公尺', '總樓層數', '建物移轉總面積平方公尺', '建物現況格局-房', '建物現況格局-廳', '建物現況格局-衛', '車位移轉總面積平方公尺', '土地', '車位', '轉移樓層', 'EightCount', 'ParkCount', 'FuneralCount', 'GasCount', 'CrimeCount', 'PoliceCount', 'busCount', 'subwayCount', 'govCount', 'clinicCount', 'hospitalCount', 'pharmacyCount', 'fireareaCount', 'firewayCount', '土地面積', '總人口數', '男性人數', '女性人數', '人口密度', '每戶人數', '每戶成年人數', '所得收入總計', '可支配所得', '消費支出', '儲蓄', '所得總額']

In [10]:
# 只選擇有足夠變異的變數
x_df = x_df[new_feature_list]
x_df.head()

,土地移轉總面積平方公尺,總樓層數,建物移轉總面積平方公尺,建物現況格局-房,建物現況格局-廳,建物現況格局-衛,車位移轉總面積平方公尺,土地,車位,轉移樓層,...,男性人數,女性人數,人口密度,每戶人數,每戶成年人數,所得收入總計,可支配所得,消費支出,儲蓄,所得總額
0,-0.141137,-0.187618,-0.095284,0.875359,0.867513,0.864881,-0.275967,-0.242034,-0.034449,0.461296,...,-1.442382,-1.391527,1.005934,-1.73553,-2.035369,0.604897,0.783695,0.566039,0.429162,0.814185
1,-0.164097,-0.727054,-0.416484,-0.717912,-0.406942,-0.359804,0.416425,-0.242034,-0.034449,-1.183741,...,-1.442382,-1.391527,1.005934,-1.73553,-2.035369,0.604897,0.783695,0.566039,0.429162,0.814185
2,-0.151920,-0.727054,-0.335763,-0.717912,-0.406942,-0.359804,0.416425,-0.242034,-0.034449,-0.978111,...,-1.442382,-1.391527,1.005934,-1.73553,-2.035369,0.604897,0.783695,0.566039,0.429162,0.814185
3,-0.152947,-0.727054,-0.775223,-0.717912,-0.406942,-0.359804,-1.139089,-0.242034,-1.355064,-0.772482,...,-1.442382,-1.391527,1.005934,-1.73553,-2.035369,0.604897,0.783695,0.566039,0.429162,0.814185
4,-0.151920,-0.727054,-0.335763,-0.717912,-0.406942,-0.359804,0.416775,-0.242034,-0.034449,-0.566852,...,-1.442382,-1.391527,1.005934,-1.73553,-2.035369,0.604897,0.783695,0.566039,0.429162,0.814185

In [11]:
# 利用Kbest中的相關係數找出比較有代表性的10個特徵
# https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SelectKBest.html#sklearn.feature_selection.SelectKBest
from sklearn.feature_selection import SelectKBest, f_regression

selector_k = SelectKBest(f_regression,k = 'all')
selector_k_fit = selector_k.fit(x_df, y_df)
selector_k.transform(x_df) # not needed to get the score

cols_k = selector_k.get_support(indices=True)
socre_k_list = selector_k_fit.scores_.tolist()
features_df_k = x_df.iloc[:,cols_k.tolist()].columns
k_feature_list = features_df_k.tolist()

# python3的zip只會出zip檔，要出list()才能顯示
# 把得分表弄成dataFrame
feature_scores = zip(k_feature_list,socre_k_list)
feature_scores_df = pd.DataFrame(list(feature_scores),columns=['features', 'scores'])
feature_scores_df.head()

      features        scores
0  土地移轉總面積平方公尺      5.551308
1         總樓層數    579.041915
2  建物移轉總面積平方公尺  14780.895546
3     建物現況格局-房     47.087389
4     建物現況格局-廳      0.057758

In [12]:
# 確認各個特徵的得分狀況，建議從得分200進行切割
feature_scores_df = feature_scores_df.sort_values(by=['scores'], ascending=False)
feature_scores_df.head(15)

         features        scores
2     建物移轉總面積平方公尺  14780.895546
8              車位   3406.632391
6     車位移轉總面積平方公尺   3254.430518
1            總樓層數    579.041915
9            轉移樓層    306.454635
19    clinicCount    283.282188
35           所得總額    268.331137
31         所得收入總計    267.318585
22  fireareaCount    253.641137
32          可支配所得    234.518960
21  pharmacyCount    187.742310
33           消費支出    183.686558
12   FuneralCount    150.650891
10     EightCount    127.082048
15    PoliceCount    117.522926

In [13]:
feature_scores_df = feature_scores_df[feature_scores_df['scores'] > 200]
feature_reg = feature_scores_df['features'].tolist()
x_df = x_df[feature_reg]
print(x_df.shape,y_df.shape)
x_df.head()

(5252, 10) (5252,)

,建物移轉總面積平方公尺,車位,車位移轉總面積平方公尺,總樓層數,轉移樓層,clinicCount,所得總額,所得收入總計,fireareaCount,可支配所得
0,-0.095284,-0.034449,-0.275967,-0.187618,0.461296,-0.026582,0.814185,0.604897,0.336,0.783695
1,-0.416484,-0.034449,0.416425,-0.727054,-1.183741,-0.026582,0.814185,0.604897,0.336,0.783695
2,-0.335763,-0.034449,0.416425,-0.727054,-0.978111,-0.026582,0.814185,0.604897,0.336,0.783695
3,-0.775223,-1.355064,-1.139089,-0.727054,-0.772482,-0.026582,0.814185,0.604897,0.336,0.783695
4,-0.335763,-0.034449,0.416775,-0.727054,-0.566852,-0.026582,0.814185,0.604897,0.336,0.783695