In [1]:
import pandas as pd
df = pd.read_csv('./done_data/new_house_merge.csv')
print(df.columns)
print(df.shape)
df.head(1)

Index(['鄉鎮市區', '土地移轉總面積平方公尺', '都市土地使用分區', '總樓層數', '主要用途', '主要建材',
       '建物移轉總面積平方公尺', '建物現況格局-房', '建物現況格局-廳', '建物現況格局-衛', '建物現況格局-隔間',
       '有無管理組織', '總價元', '車位類別', '車位移轉總面積平方公尺', '土地', '建物', '車位', '轉移樓層',
       '建物類型', 'Area', 'EightCount', 'ParkCount', 'FuneralCount', 'GasCount',
       'CrimeCount', 'PoliceCount', 'busCount', 'subwayCount', 'govCount',
       'clinicCount', 'hospitalCount', 'pharmacyCount', 'fireareaCount',
       'firewayCount', '土地面積', '總人口數', '男性人數', '女性人數', '人口密度', '每戶人數',
       '每戶成年人數', '所得收入總計', '可支配所得', '消費支出', '儲蓄', '所得總額'],
      dtype='object')
(5252, 47)

,鄉鎮市區,土地移轉總面積平方公尺,都市土地使用分區,總樓層數,主要用途,主要建材,建物移轉總面積平方公尺,建物現況格局-房,建物現況格局-廳,建物現況格局-衛,...,男性人數,女性人數,人口密度,每戶人數,每戶成年人數,所得收入總計,可支配所得,消費支出,儲蓄,所得總額
0,中正區,18.51,住,13,住家用,混凝土造,152.07,3,2,2,...,73997,81511,20442,2.83,2.39,1744835,1450563,1171917,278646,1894842

In [2]:
# 移除無法線性化的特徵

df = df.drop(['Area','鄉鎮市區','都市土地使用分區','主要用途','主要建材','建物現況格局-隔間','有無管理組織','車位類別','建物類型'], axis = 1)

df.head()

,土地移轉總面積平方公尺,總樓層數,建物移轉總面積平方公尺,建物現況格局-房,建物現況格局-廳,建物現況格局-衛,總價元,車位移轉總面積平方公尺,土地,建物,...,男性人數,女性人數,人口密度,每戶人數,每戶成年人數,所得收入總計,可支配所得,消費支出,儲蓄,所得總額
0,18.51,13,152.07,3,2,2,40000000,24.62,1,1,...,73997,81511,20442,2.83,2.39,1744835,1450563,1171917,278646,1894842
1,15.38,10,119.64,1,1,1,26300000,44.37,1,1,...,73997,81511,20442,2.83,2.39,1744835,1450563,1171917,278646,1894842
2,17.04,10,127.79,1,1,1,26150000,44.37,1,1,...,73997,81511,20442,2.83,2.39,1744835,1450563,1171917,278646,1894842
3,16.90,10,83.42,1,1,1,23920000,0.00,1,1,...,73997,81511,20442,2.83,2.39,1744835,1450563,1171917,278646,1894842
4,17.04,10,127.79,1,1,1,27150000,44.38,1,1,...,73997,81511,20442,2.83,2.39,1744835,1450563,1171917,278646,1894842

In [4]:
# 先使用z-score來進行確認
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler

scaler = preprocessing.MinMaxScaler().fit(df)
df_scaler = scaler.transform(df)
df = pd.DataFrame(df_scaler, columns = df.columns)
df.head()

,土地移轉總面積平方公尺,總樓層數,建物移轉總面積平方公尺,建物現況格局-房,建物現況格局-廳,建物現況格局-衛,總價元,車位移轉總面積平方公尺,土地,建物,...,男性人數,女性人數,人口密度,每戶人數,每戶成年人數,所得收入總計,可支配所得,消費支出,儲蓄,所得總額
0,0.007543,0.371429,0.128878,0.75,0.666667,0.50,0.058553,0.108220,0.011111,0.0,...,0.191795,0.203155,0.719634,0.0,0.0,0.537903,0.607166,0.557727,0.654737,0.600644
1,0.006263,0.285714,0.095044,0.25,0.333333,0.25,0.035355,0.195033,0.011111,0.0,...,0.191795,0.203155,0.719634,0.0,0.0,0.537903,0.607166,0.557727,0.654737,0.600644
2,0.006942,0.285714,0.103547,0.25,0.333333,0.25,0.035101,0.195033,0.011111,0.0,...,0.191795,0.203155,0.719634,0.0,0.0,0.537903,0.607166,0.557727,0.654737,0.600644
3,0.006885,0.285714,0.057256,0.25,0.333333,0.25,0.031325,0.000000,0.011111,0.0,...,0.191795,0.203155,0.719634,0.0,0.0,0.537903,0.607166,0.557727,0.654737,0.600644
4,0.006942,0.285714,0.103547,0.25,0.333333,0.25,0.036794,0.195077,0.011111,0.0,...,0.191795,0.203155,0.719634,0.0,0.0,0.537903,0.607166,0.557727,0.654737,0.600644

In [5]:
# 將x,y拆開
y_df = df['總價元']
x_df = df.drop(['總價元'], axis = 1)
x_df.head()

,土地移轉總面積平方公尺,總樓層數,建物移轉總面積平方公尺,建物現況格局-房,建物現況格局-廳,建物現況格局-衛,車位移轉總面積平方公尺,土地,建物,車位,...,男性人數,女性人數,人口密度,每戶人數,每戶成年人數,所得收入總計,可支配所得,消費支出,儲蓄,所得總額
0,0.007543,0.371429,0.128878,0.75,0.666667,0.50,0.108220,0.011111,0.0,0.1,...,0.191795,0.203155,0.719634,0.0,0.0,0.537903,0.607166,0.557727,0.654737,0.600644
1,0.006263,0.285714,0.095044,0.25,0.333333,0.25,0.195033,0.011111,0.0,0.1,...,0.191795,0.203155,0.719634,0.0,0.0,0.537903,0.607166,0.557727,0.654737,0.600644
2,0.006942,0.285714,0.103547,0.25,0.333333,0.25,0.195033,0.011111,0.0,0.1,...,0.191795,0.203155,0.719634,0.0,0.0,0.537903,0.607166,0.557727,0.654737,0.600644
3,0.006885,0.285714,0.057256,0.25,0.333333,0.25,0.000000,0.011111,0.0,0.0,...,0.191795,0.203155,0.719634,0.0,0.0,0.537903,0.607166,0.557727,0.654737,0.600644
4,0.006942,0.285714,0.103547,0.25,0.333333,0.25,0.195077,0.011111,0.0,0.1,...,0.191795,0.203155,0.719634,0.0,0.0,0.537903,0.607166,0.557727,0.654737,0.600644

In [10]:
# 利用方差先找出沒有差距的特徵，發現建物並沒有足夠變異
# 0.25是以某個值不超過0.5計算，0.5X0.5=0.25
from sklearn.feature_selection import VarianceThreshold
selector = VarianceThreshold(threshold = 0.01)
selector.fit_transform(x_df)
cols = selector.get_support(indices=True)

features_df_new = x_df.iloc[:,cols].columns
new_feature_list = features_df_new.tolist()
print(len(new_feature_list))
print(new_feature_list)

34
['總樓層數', '建物移轉總面積平方公尺', '建物現況格局-房', '建物現況格局-廳', '建物現況格局-衛', '車位移轉總面積平方公尺', '土地', '轉移樓層', 'EightCount', 'ParkCount', 'FuneralCount', 'GasCount', 'CrimeCount', 'PoliceCount', 'busCount', 'subwayCount', 'govCount', 'clinicCount', 'hospitalCount', 'pharmacyCount', 'fireareaCount', 'firewayCount', '土地面積', '總人口數', '男性人數', '女性人數', '人口密度', '每戶人數', '每戶成年人數', '所得收入總計', '可支配所得', '消費支出', '儲蓄', '所得總額']

In [11]:
# 只選擇有足夠變異的變數
x_df = x_df[new_feature_list]
x_df.head()

,總樓層數,建物移轉總面積平方公尺,建物現況格局-房,建物現況格局-廳,建物現況格局-衛,車位移轉總面積平方公尺,土地,轉移樓層,EightCount,ParkCount,...,男性人數,女性人數,人口密度,每戶人數,每戶成年人數,所得收入總計,可支配所得,消費支出,儲蓄,所得總額
0,0.371429,0.128878,0.75,0.666667,0.50,0.108220,0.011111,0.272727,0.077922,0.0,...,0.191795,0.203155,0.719634,0.0,0.0,0.537903,0.607166,0.557727,0.654737,0.600644
1,0.285714,0.095044,0.25,0.333333,0.25,0.195033,0.011111,0.030303,0.077922,0.0,...,0.191795,0.203155,0.719634,0.0,0.0,0.537903,0.607166,0.557727,0.654737,0.600644
2,0.285714,0.103547,0.25,0.333333,0.25,0.195033,0.011111,0.060606,0.077922,0.0,...,0.191795,0.203155,0.719634,0.0,0.0,0.537903,0.607166,0.557727,0.654737,0.600644
3,0.285714,0.057256,0.25,0.333333,0.25,0.000000,0.011111,0.090909,0.077922,0.0,...,0.191795,0.203155,0.719634,0.0,0.0,0.537903,0.607166,0.557727,0.654737,0.600644
4,0.285714,0.103547,0.25,0.333333,0.25,0.195077,0.011111,0.121212,0.077922,0.0,...,0.191795,0.203155,0.719634,0.0,0.0,0.537903,0.607166,0.557727,0.654737,0.600644

In [19]:
# 利用Kbest中的相關係數找出比較有代表性的10個特徵
# https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.SelectKBest.html#sklearn.feature_selection.SelectKBest
from sklearn.feature_selection import SelectKBest, f_regression

selector_k = SelectKBest(f_regression,k = 'all')
selector_k_fit = selector_k.fit(x_df, y_df)
selector_k.transform(x_df) # not needed to get the score

cols_k = selector_k.get_support(indices=True)
socre_k_list = selector_k_fit.pvalues_.tolist()
features_df_k = x_df.iloc[:,cols_k.tolist()].columns
k_feature_list = features_df_k.tolist()

# python3的zip只會出zip檔，要出list()才能顯示
# 把得分表弄成dataFrame
feature_scores = zip(k_feature_list,socre_k_list)
feature_scores_df = pd.DataFrame(list(feature_scores),columns=['features', 'scores'])
feature_scores_df.head()

      features         scores
0  建物移轉總面積平方公尺   0.000000e+00
1  車位移轉總面積平方公尺   0.000000e+00
2         總樓層數  1.854024e-121
3         轉移樓層   9.855253e-67
4  clinicCount   5.942562e-62

In [16]:
# 確認各個特徵的得分狀況，建議從得分200進行切割
feature_scores_df = feature_scores_df.sort_values(by=['scores'], ascending=False)
feature_scores_df.head(15)

         features        scores
1     建物移轉總面積平方公尺  14780.895546
5     車位移轉總面積平方公尺   3254.430518
0            總樓層數    579.041915
7            轉移樓層    306.454635
17    clinicCount    283.282188
33           所得總額    268.331137
29         所得收入總計    267.318585
20  fireareaCount    253.641137
30          可支配所得    234.518960
19  pharmacyCount    187.742310
31           消費支出    183.686558
10   FuneralCount    150.650891
8      EightCount    127.082048
13    PoliceCount    117.522926
4        建物現況格局-衛    114.357724

In [17]:
feature_scores_df = feature_scores_df[feature_scores_df['scores'] > 200]
feature_reg = feature_scores_df['features'].tolist()
x_df = x_df[feature_reg]
print(x_df.shape,y_df.shape)
x_df.head()

(5252, 9) (5252,)

,建物移轉總面積平方公尺,車位移轉總面積平方公尺,總樓層數,轉移樓層,clinicCount,所得總額,所得收入總計,fireareaCount,可支配所得
0,0.128878,0.108220,0.371429,0.272727,0.265725,0.600644,0.537903,0.493506,0.607166
1,0.095044,0.195033,0.285714,0.030303,0.265725,0.600644,0.537903,0.493506,0.607166
2,0.103547,0.195033,0.285714,0.060606,0.265725,0.600644,0.537903,0.493506,0.607166
3,0.057256,0.000000,0.285714,0.090909,0.265725,0.600644,0.537903,0.493506,0.607166
4,0.103547,0.195077,0.285714,0.121212,0.265725,0.600644,0.537903,0.493506,0.607166

In [102]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.datasets import load_iris
from sklearn import tree

X_train, X_test, y_train, y_test = train_test_split(x_df, y_df.astype('int'), test_size=0.2)


model = RandomForestClassifier(max_depth=100, n_estimators=10)
model.fit(X_train, y_train)

X_test = scaler.transform(X_test)
y_pred = model.predict(X_test)

from sklearn.metrics import mean_squared_error, r2_score
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print("Mean squared error: {}".format(mse))
print('r2 score: {}'.format(r2))

Mean squared error: 0.029495718363463368
r2 score: 0.9424892325072372